{% extends "network/layout.html" %}
{% load static %}

{% block style %}
	<style>
		#all_posts-btn {
			font-weight: bold;
		}
	</style>
{% endblock %}

{% block body %}
	{% if user.is_authenticated %}
		<div id="new-post" onload="init();">
			<form id="create-post">
				<textarea id="new-post-content" name="content" placeholder="What's happening?" rows="1" autofocus></textarea><br>
				<button id="new-post-btn" type="submit">Post</button>
			</form>
		</div>
	{% endif %}
	<br><hr>
    {% for post in current_page %}
    	<div class="post">
    		{% if user.is_authenticated %}
	    		<p class="post-info"><a id="post-user" href="{% url 'profile' username=post.user num=1 %}">{{ post.user }}</a>  <span id="post-created">{{ post.created.date }}</span></p>
	    	{% else %}
	    		<p class="post-info"><a id="post-user" href="/login">{{ post.user }}</a>  <span id="post-created">{{ post.created.date }}</span></p>
	    	{% endif %}
    		<p class="post-content">{{ post.text }}</p>
    		{% if user.is_authenticated %}
    			<div class="heart" tabindex="-1"></div>
    		{% else %}
    			<a href="/login"><div class="heart" tabindex="-1"></div></a>
    		{% endif %}
    		<p class="post-liked">{{ post.liked.all.count }}</p>
    		{% if post.user == request.user %}
    			<p class="post-edit" ><span id="post-edit-btn">Edit</span></p>
    		{% endif %}
    	</div>
    {% endfor %}

    <nav aria-label="Page navigation example" style="float: right; margin-top: 5px;">
  		<ul class="pagination">
  			{% if current_page.has_previous %}
	  			<li class="page-item"><a class="page-link" href="{{ current_page.previous_page_number }}">Previous</a></li>
	  		{% endif %}
		    {% for number in pages_number %}
		    	<li class="page-item"><a class="page-link" href="{{number}}">{{number}}</a></li>
		    {% endfor %}
		    {% if current_page.has_next %}
			    <li class="page-item"><a class="page-link" href="{{current_page.next_page_number}}">Next</a></li>
			{% endif %}
  		</ul>
{% endblock %}
{% block script %}
	<script src="{% static 'network/inbox.js' %}"></script>
{% endblock %}