{% extends "network/layout.html" %}
{% load static %}

{% block style %}
	<style>
		#all_posts-btn {
			font-weight: bold;
		}
	</style>
{% endblock %}

{% block body %}
	{% if user.is_authenticated %}
		<div id="new-post" onload="init();">
			<form id="create-post">
				<textarea id="new-post-content" name="content" placeholder="What's happening?" rows="1" autofocus></textarea><br>
				<button id="new-post-btn" type="submit">Post</button>
			</form>
		</div>
	{% endif %}
	<br><hr>
    {% for post in posts %}
    	<div class="post">
    		<p class="post-info"><a id="post-user" href="{% url 'profile' post.user %}">{{ post.user }}</a>  <span id="post-created">{{ post.created.date }}</span></p>
    		<p class="post-content">{{ post.text }}</p>
    		{% if user.is_authenticated %}
    			<div class="heart" tabindex="-1"></div>
    		{% else %}
    			<a href="/login"><div class="heart" tabindex="-1"></div></a>
    		{% endif %}
    		<p class="post-liked">{{ post.liked.all.count }}</p>
    		{% if post.user == request.user %}
    			<p class="post-edit"><span id="post-edit-btn">Edit</span></p>
    		{% endif %}
    	</div>
    {% endfor %}
{% endblock %}
{% block script %}
	<script src="{% static 'network/inbox.js' %}"></script>
{% endblock %}