{% extends "network/layout.html" %}

{% block body %}
	<div id="new-post" onload="init();">
		<form action="create" method="post">
			{% csrf_token %}
			<textarea id="new-post-content" name="content" placeholder="What's happening?" rows="1" autofocus></textarea><br>
			<button id="new-post-btn" type="submit">Post</button>
		</form>
	</div>
	<br><hr>
    {% for post in posts %}
    	<div class="post">
    		<p class="post-info"><span id="post-user">{{ post.user }}</span>  <span id="post-created">{{ post.created.date }} </span></p>
    		<p class="post-content">{{ post.text }}</p>
    		<div class="heart" tabindex="-1"></div>
    		<p class="post-liked">{{ post.liked.all.count }}</p>
    	</div>
    {% endfor %}
{% endblock %}